<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
			"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<!-- propriétés -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="connection.url">jdbc:mysql://localhost/cahier de charge</property>
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.username">root</property>
		<property name="connection.password"></property>
		<property name="show_sql">true</property>

		<!-- fichiers de mapping 
		<mapping resource="MappingDiscussion.hbm.xml" />
		<mapping resource="MappingVote.hbm.xml" />	
		-->		
		<mapping resource="User.hbm.xml" />
		<mapping resource="Demand.hbm.xml" />
		<mapping resource="Comment.hbm.xml" />
		<mapping resource="Notification.hbm.xml" />
		<mapping resource="Group.hbm.xml" />
		<mapping resource="Discussion.hbm.xml" />
		<mapping resource="Aggregate.hbm.xml" />
		<mapping resource="Vote.hbm.xml" />
		<mapping resource="Response.hbm.xml" />
		<mapping resource="File.hbm.xml" />
		<mapping resource="Chapter.hbm.xml" />
		<mapping resource="Manual.hbm.xml" />
		<mapping resource="Reaction.hbm.xml" />
		<mapping resource="Question.hbm.xml" />
		<mapping resource="Avis.hbm.xml" />	
		<mapping resource="Choix.hbm.xml" />
		<mapping resource="Sondage.hbm.xml" />	
						
	</session-factory>
</hibernate-configuration>




